* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #040315;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 70%;
}

header {
    height: 10%;
    background-color: #d0ccaf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #02020c80;
}

h1 {
    font-size: 50px;
    color: #ca2542;
    font-family: 'Press Start 2P', cursive;
}

.timer-container {
    background-color: #d0ccaf;
    width: 40%;
    border: 2px solid #02020c80;
    border-radius: 5px;
}

.modes {
    border-bottom: 1px solid #807d6a;
}

.modes, .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modes div, .controls div {
    flex-grow: 1;
    /* background-color: green; */
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.modes div:hover, .controls div:hover {
    background-color: #afab91;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #807d6a;
}

#short, #long, #pause, #reset {
    border-left: 1px solid #807d6a;
}



.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}

.time-values {
    font-size: 85px;
}

.time-values span {
    /* background-color: teal; */
    padding: 10px;
    margin: 0 10px;
    border-radius: 23px;
}

@media only screen and (max-width: 517px) {
    h1 {
        font-size: 40px;
    }
    .timer-container {
        width: 80%;
    }

    .modes div, .controls div {
        font-size: 17px;
    }

    .t {
        font-size: 65px;
    }
}

@media only screen and (min-width: 520px) and (max-width: 900px) {
    h1 {
        font-size: 50px;
    }
    .timer-container{
        width: 60%;
    }
}
